Package: com.seeds.XSContactServer
Name: XSContactServer
Version: 1.0-6
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: gyanping
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

